body{

    font-size: 25px;
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    background-color: rgb(245, 15, 15);

}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 10px;
    }
    p{
        font-size: small;
        margin-left: 100px;
        background-color: rgb(39, 12, 12);
        color: white;
        text-align: left;
        position: relative;
        width: 100%;
    
    }
    img{
        border: 5px solid darkblue;
        
    }
    